{% extends "base.html" %} 
{% block title %} Home {% endblock title %}
{% block body %} 

<main id="main" class="w-100 m-auto">


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>We provide world class solution for your business</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/services" class="btn-get-started scrollto">Get Started</a>
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  
    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed p-2"></i></div>
              <div>
                <h4 class="title">Lorem Ipsum</h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-truck p-2"></i></div>
              <div>
                <h4 class="title">Dolor Sitema</h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box p-2"></i></div>
              <div>
                <h4 class="title">Sed ut perspiciatis</h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
  


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
              <img src="static/img/about copy.jpg" class="img-fluid" alt="This is about image">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
            <div class="col-lg-6 content order-last  order-lg-first">
              <h3>About Us</h3>
              <p>
                Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit quia molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis veritatis asperiores placeat.
              </p>
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-diagram-3"></i>
                  <div>
                    <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                    <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-fullscreen-exit"></i>
                  <div>
                    <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                    <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-broadcast"></i>
                  <div>
                    <h5>Voluptatem et qui exercitationem</h5>
                    <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
    
      
    <header>
      <!-- <div class="logo-box clearfix">
        <a href="index.html"><img src="/static/images/logo-light-small.png" class="logo-box__logo--codingheroes"></a>
        <a href="https://twitter.com/jonasschmedtman" target="_blank"><img src="/static/images/JS-light-small.png" class="logo-box__logo--js"></a>
      </div> -->

      <div class="master-header__box--home pt-5">
        <h1 class="master-header__heading">
          Say hello to our amazing Services right now.
        </h1>
        <h2 class="master-header__heading--secondary">
          Start exploring our amazing Services to your business
        </h2>

        <!--
            <a class="btn btn-full js--scroll-to-price" href="#">Start learning today!</a>
            <a class="btn btn-ghost js--popup-youtube" href="https://www.youtube.com/watch?v=GpvK42EeBS0">Watch the video</a>
            -->
      </div>

      <div class="row1 animated fadeIn m-100 m-auto">
        <div class="col span-1-of-4">
          <div class="course-box">
            <img src="/static/images/design0.jpeg" alt="Course 1 screen" class="course-img">
            <a class="btn btn-full btn-small js--scroll-to-price" href="/contact">Wordpress Website</a>
          </div>
        </div>
        <div class="col span-1-of-4">
          <div class="course-box">
            <img src="/static/images/design1.jpeg" alt="Course 3 screen" class="course-img">
            <a class="btn btn-full btn-small js--scroll-to-price" href="/contact">React Website</a>
          </div>
        </div>
        <div class="col span-1-of-4">
          <div class="course-box">
            <img src="/static/images/design2.jpeg" alt="Course 1 screen" class="course-img">
            <a class="btn btn-full btn-small js--scroll-to-price" href="/contact">Django Website</a>
          </div>
        </div>
        <div class="col span-1-of-4">
          <div class="course-box">
            <img src="/static/images/design5.png" alt="Course 3 screen" class="course-img">
            <a class="btn btn-full btn-small js--scroll-to-price" href="/contact">Node.js Website</a>
          </div>
        </div>
      </div>

      <div class="go-to-resources">
        <a href="/services/" class="btn--transparent">check out our popular amazing services →</a>
      </div>

      <!--
        <div class="screens">
            <img class="animated fadeInUp" src="assets/img/screens-new.png" alt="Course screens: final website and Brackets">
        </div>
        -->
    </header>




  <!-- ======= Services Section ======= -->
   <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-header section-title">
        <h2>Our Services</h2>
        <p>Our team has a great experience to deliver our amazing Services all over the world.</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="/static/img/services-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Customized Development</h3>
              </a>
              <p>We have a team of highly experienced developers, who develop
                customized &amp; powerful CMS solution which allows users to
                manage their website with a great ease.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="/static/img/services-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>1 Year Maintenence</h3>
              </a>
              <p>After creation of software we provide one year free maintainance
                within the contract so that user can run their Business without
                any hassle.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="/static/img/services-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Delivery on Time</h3>
              </a>
              <p>Delivering products on time with quality is not an easy job, We
                have a vast expertise over the domain that helps a Business
                stand out from the competition.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
          <div class="service-item">
            <div class="img">
              <img src="/static/img/services-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Latest Tools and Technology</h3>
              </a>
              <p>We use latest technology integrated strategies which produce
                User-Friendly Website Solutions, We are using .NET Framework, Node.Js and many wide-ranging API sets to accomplish the goal.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
          <div class="service-item">
            <div class="img">
              <img src="/static/img/services-5.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E Commerce Development</h3>
              </a>
              <p>We provide the most appropriate ecommerce solutions for your
                business. From design and selection of right development
                platform i.e. Custom, Magento, WooComerce, or Shopify to other
                services, we are the one-stop-shop for all your ecommerce
                requirements.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
          <div class="service-item">
            <div class="img">
              <img src="/static/img/services-6.jpg" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Web Design and Development</h3>
              </a>
              <p>We design and develop customized websites and it's Solutions keeping in mind the
                specific requirements of our customers and establish their
                unique brand identity.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
  
          <ul class="nav nav-tabs row gy-4 d-flex">
  
            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                <i class="bi bi-binoculars color-cyan"></i>
                <h4>Modinest</h4>
              </a>
            </li><!-- End Tab 1 Nav -->
  
            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                <i class="bi bi-box-seam color-indigo"></i>
                <h4>Undaesenti</h4>
              </a>
            </li><!-- End Tab 2 Nav -->
  
            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                <i class="bi bi-brightness-high color-teal"></i>
                <h4>Pariatur</h4>
              </a>
            </li><!-- End Tab 3 Nav -->
  
            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                <i class="bi bi-command color-red"></i>
                <h4>Nostrum</h4>
              </a>
            </li><!-- End Tab 4 Nav -->
  
            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5">
                <i class="bi bi-easel color-blue"></i>
                <h4>Adipiscing</h4>
              </a>
            </li><!-- End Tab 5 Nav -->
  
            <li class="nav-item col-6 col-md-4 col-lg-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6">
                <i class="bi bi-map color-orange"></i>
                <h4>Reprehit</h4>
              </a>
            </li><!-- End Tab 6 Nav -->
  
          </ul>
  
          <div class="tab-content">
  
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                  <h3>Modinest</h3>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                  <img src="/static/img/features-1.svg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 1 -->
  
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Undaesenti</h3>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="/static/img/features-2.svg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 2 -->
  
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Pariatur</h3>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                  </ul>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="/static/img/features-3.svg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 3 -->
  
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Nostrum</h3>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="/static/img/features-4.svg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 4 -->
  
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Adipiscing</h3>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="/static/img/features-5.svg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 5 -->
  
            <div class="tab-pane" id="tab-6">
              <div class="row gy-4">
                <div class="col-lg-8 order-2 order-lg-1">
                  <h3>Reprehit</h3>
                  <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                  </p>
                  <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                  </ul>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 text-center">
                  <img src="/static/img/features-6.svg" alt="" class="img-fluid">
                </div>
              </div>
            </div><!-- End Tab Content 6 -->
  
          </div>
  
        </div>
      </section><!-- End Features Section -->
  
 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Call To Action</h3>
          <p> Its the time to have a coffee with us. feel free to contact us or connect with us by simply make a call</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="/call">Call To Action</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Our Pricing</h2>
            <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="pricing-item">
  
                <div class="pricing-header">
                  <h3>Free Plan</h3>
                  <h4><sup>$</sup>0<span> / month</span></h4>
                </div>
  
                <ul>
                  <li><i class="bi bi-dot"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-dot"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-dot"></i> <span>Nulla at volutpat diam uteera</span></li>
                  <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                  <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
  
                <div class="text-center mt-auto">
                  <a href="#" class="buy-btn">Buy Now</a>
                </div>
  
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="pricing-item featured">
  
                <div class="pricing-header">
                  <h3>Business Plan</h3>
                  <h4><sup>$</sup>29<span> / month</span></h4>
                </div>
  
                <ul>
                  <li><i class="bi bi-dot"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-dot"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-dot"></i> <span>Nulla at volutpat diam uteera</spa>
                  </li>
                  <li><i class="bi bi-dot"></i> <span>Pharetra massa massa ultricies</spa>
                  </li>
                  <li><i class="bi bi-dot"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
  
                <div class="text-center mt-auto">
                  <a href="#" class="buy-btn">Buy Now</a>
                </div>
  
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
              <div class="pricing-item">
  
                <div class="pricing-header">
                  <h3>Developer Plan</h3>
                  <h4><sup>$</sup>49<span> / month</span></h4>
                </div>
  
                <ul>
                  <li><i class="bi bi-dot"></i> <span>Quam adipiscing vitae proin</span></li>
                  <li><i class="bi bi-dot"></i> <span>Nec feugiat nisl pretium</span></li>
                  <li><i class="bi bi-dot"></i> <span>Nulla at volutpat diam uteera</span></li>
                  <li><i class="bi bi-dot"></i> <span>Pharetra massa massa ultricies</span></li>
                  <li><i class="bi bi-dot"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
  
                <div class="text-center mt-auto">
                  <a href="#" class="buy-btn">Buy Now</a>
                </div>
  
              </div>
            </div><!-- End Pricing Item -->
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  
      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
        <div class="container-fluid" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
              <div class="content px-xl-5">
                <h3>Frequently Asked <strong>Questions</strong></h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                </p>
              </div>
  
              <div class="accordion accordion-flush px-xl-5" id="faqlist">
  
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                      <i class="bi bi-question-circle question-icon"></i>
                      Non consectetur a erat nam at lectus urna duis?
                    </button>
                  </h3>
                  <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                      <i class="bi bi-question-circle question-icon"></i>
                      Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                    </button>
                  </h3>
                  <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                      <i class="bi bi-question-circle question-icon"></i>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                    </button>
                  </h3>
                  <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                      <i class="bi bi-question-circle question-icon"></i>
                      Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                    </button>
                  </h3>
                  <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      <i class="bi bi-question-circle question-icon"></i>
                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                      <i class="bi bi-question-circle question-icon"></i>
                      Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                    </button>
                  </h3>
                  <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
              </div>
  
            </div>
  
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/static/img/faq.jpg");'>&nbsp;</div>
          </div>
  
        </div>
      </section><!-- End F.A.Q Section -->
  
  <!-- me section -->
      
    <section class="section-me">
      <div class="row w-100 m-auto">
        <img src="/static/images/Rohitash.jpg" class="img-me align-items-center" alt="Jonas Schmedtmann" style="width: 160px; height: 150px; margin: auto;">

        <h3>Hi, I'm Rohitash Singh!</h3>

        <p>
          I’m a software engineer, developer and machine learning enthusiastic with a great passion for
          building things with code implements in real life. I'm part of amazing community, where I create amazing websites and apps, just like you're
          gonna use and enjoy in our services.
        </p>

        <p>
          As a Software Engineer, I get to mix my two great passions: building
          things with code and Apply in real life. If I had to describe my Services
          in one sentence, I would say
          <span class="bold">“These are exactly the amazing services I wish I had when I first started
            with web design and development”</span>.
        </p>

        <p>
          We want to spare you the pain of going through countless blogs and
          articles for getting right Services, so We packed everything that you need to grow your startup, Business and also your local shop.
        </p>

        <p>
          We guarantee 100% to offer you the best experience in all our Services, so you can
          achieve your goals! If you still don't find value in our services make a call with us to get to know more about our services, We will always
          available to answer all the questions you might have along your beautiful journey.
        </p>

        <p>So, let's start our amazing services today!</p>

        <!-- <img src="images/signature-inverted.png" class="signature"> -->
      </div>
    </section>

    


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Team</h2>
            <p>This is our amazing skilled team that has expertise in various fields</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Rohitash Singh</h4>
                  <span>Chief Executive Officer</span>
                  <p>expertise in development and problem solving regarding Businesses</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Anuj Bhardwaj</h4>
                  <span>Product Manager</span>
                  <p>expertise in Product Management and develope amazing Solutions</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Ras bihari</h4>
                  <span>CTO</span>
                  <p>expertise in Marketing and Businesses Solutions</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="/static/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Harendra Singh</h4>
                  <span>Accountant</span>
                  <p>expertise in accounting and payment related Solutions</p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->



    </main><!-- End #main -->







{% endblock body %}